{% extends "base.html.twig" %}

{% block title %}Form{% endblock %}

{% block body %}
    <h2 class="container">
        Salut vous êtes sur la page du formulaire
    </h2>
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">{{ form_row(form.lastName) }}</div>
            <div class="col-sm-6">{{ form_row(form.firstName) }}</div>
        </div>

        {{ form_rest(form) }}
        <div class="row text-center">
            <button type="submit" class="btn btn-info btn-sm">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}