{% extends "base.html.twig" %}

{% block title %}Listes des auteurs{% endblock %}

{% block body %}
    <h2 class="container">
        <span class="float-end">
            <a href="{{ path("newAuthor") }}" class="btn btn-success btn-sm">Ajout</a>
        </span>
        <span>
            <a href="{{ path("app_home") }}" class="btn btn-info btn-md">Accueil</a>
        </span>
        La page des auteurs</h2>
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="row d-flex flex-row justify-content-center mb-2">
                <div class="alert alert-success">{{ message }}</div>
            </div>
        {% endfor %}
        <ul class="list-group">
            {% for author in authors %}
                <li class="list-group-item">
                    <span class="float-end d-flex flex-row justify-content-end">
                        {#   lien édition auteur  #}
                        <a href="{{ path("newAuthor", {id: author.id}) }}"
                           class="btn btn-outline-warning btn-sm">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        {#  lien de suppresion d'auteur  #}
                        <form action="{{ path('delAuteur', {id: author.id}) }}" class="ms-2"
                              method="post" onsubmit="return confirm('Etes-vous certain ?')">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~author.id) }}">
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </span>
                    <img src="{{ vich_uploader_asset(author, 'imageFile') }}"
                         width="75px">
                    {{ author.fullName }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}