<div class="row d-flex flex-row justify-content-between">
    {% for book in books %}
        <div class="card mb-2 d-inline-block" style="width: 30%">
            <div class="card-body">
                <h4 class="card-title">{{ book.title }}</h4>
                <div class="card-text">
                    <p>Auteur :
                        {% set i = 1 %}
                        {% for author in book.author %}
                            {{ author.fullName }} (né le : {{ author.birthFormat }} )
                            {% if i < book.author|length %}
                                ,
                            {% endif %}
                            {% set i = i + 1 %}
                        {% endfor %}
                    </p>
                    <p>ISBN : {{ book.isbn }}</p>
                    <p>Genre : {{ book.genre.label }}</p>
                    <p>Categorie de publication : {{ book.categoriesNames }}</p>
                    <p>Résumé : {{ book.synopsis | excerpt }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>