<div class="d-flex flex-row justify-content-start">
    {% for article in articles %}
        <div class="card mb-2 me-2">
            <div class="card-body">
                <h4 class="card-title">
                    {{ article['title'] }}
                </h4>
                <p class="card-text">
                    {{ article['comment'] }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>