<ul class="">
    {% if pp != "home" %}
        <li class="list-unstyled">
            <a href="{{ path("app_home") }}"
               class="btn btn-outline-primary btn-sm mb-2  d-md-block">Accueil</a></li>
    {% endif %}
    {#    {% for num in [1,2,3,4]%} #}
    {#        {% if num != current %} #}
    {#        <li class="list-unstyled"> #}
    {#            <a href="{{ path('app_page', {numPage: num}) }}" #}
    {#                class="  d-md-block btn btn-outline-primary btn-sm mb-2">Voir la page {{ num }}</a> #}
    {#        {% endif %} #}
    {#   </li> #}
    {#    {% endfor %} #}
    {% if pp != "books" %}
        <li class="list-unstyled">
            <a href="{{ path("app_books") }}"
               class="btn btn-outline-primary btn-sm mb-2  d-md-block">Livres</a></li>
    {% endif %}
    <li class="list-unstyled">
        <a href="{{ path("app_author") }}"
           class="btn btn-outline-primary btn-sm mb-2  d-md-block">Auteurs</a></li>
</ul>