{% extends "base.html.twig" %}

{% block title %}Formulaire de livre{% endblock %}

{% block body %}
    <h2 class="container">
        Ajouter un nouveau livre
    </h2>
    <div class="container">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}