{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="container">
        <div class="card mt-5 w-50 m-auto">
            <div class="card-header">Login</div>
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey }}
                    </div>
                {% endif %}
                <form action="{{ path('login') }}" class="form" method="post">
                    <div class="group-form">
                        <label for="username" class="form-label">Identifiant</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ lastIdent }}"/>
                    </div>
                    <div class="group-form mt-3">
                        <label for="password" class="form-label">Pass</label>
                        <input type="password" id="password" class="form-control" name="_password"/>
                    </div>
                    <div class="d-flex flex-row justify-content-center mt-3">
                        <button class="btn btn-outline-success btn-sm me-2" type="submit">Connexion</button>
                        <a href="{{ path('app_home') }}" class="btn btn-outline-warning btn-sm">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}