{% extends "base.html.twig" %}

{% block title %} Liste livre {% endblock %}

{% block body %}
    <h2 class="container">Livres</h2>
    <div class="container row">
        <div class="col-sm-3">
            {{ include("front/template_part/_menu.html.twig", { pp:'books', current: 0}) }}
        </div>
        <div class="col-sm-9">
            <div class="row d-flex flex-row justify-content-between">
                <form method="post" action="{{ path('dateFiltered') }}" class="col-sm-3">
                    <div class="">
                        <label for="date" class="form-label">Date inférieure à :</label>
                        <input name="date" type="date" id="date" class="form-control"/>
                    </div>
                    <input type="submit" value="chercher" class="btn btn-sm btn-warning"/>
                </form>
                <div class="col-sm-3">
                    <a href="{{ path('latest') }}" class="btn btn-warning btn-sm">Les 5 derniers</a>
                </div>
            </div>
            {{ include("front/template_part/_booksTemplate.html.twig", { books: books}) }}
        </div>
    </div>
{% endblock %}
