{% extends "base.html.twig" %}
{% block title %}Page Home{% endblock %}

{% block body %}
    <h2 class="container flex d-flex justify-content-center">Bienvenue dans le Book Store</h2>
    <div class="container row">
        <div class="col-sm-3">
            {{ include("front/template_part/_menu.html.twig", { pp:'home', current: 0}) }}
        </div>
        <div class="col-sm-9">
            {{ 'now' | format_date(locale='fr') }}
            <img src="{{ asset("images/books_store.jpg") }}" alt="une image">
            <p>{{ "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi, assumenda consequatur deleniti deserunt dicta dolore est,
                expedita facilis inventore nihil obcaecati officiis perferendis
                placeat porro provident quia quo repellendus, voluptas?" | formatLetter("") }}</p>
            <p>{{ "Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi, assumenda consequatur deleniti deserunt dicta dolore est,
                expedita facilis inventore nihil obcaecati officiis perferendis
                placeat porro provident quia quo repellendus, voluptas?" | excerpt(100, "") }}</p>
        </div>
    </div>


{% endblock %}