{% extends "base.html.twig" %}

{% block title %}Page {{ numPage }} {% endblock %}

{% block body %}
    <h2 class="container">Salut vous êtes sur la page {{ numPage }}</h2>
    <div class="container row">
        <div class="col-sm-3">
            {{ include("front/template_part/_menu.html.twig", { pp:'page', current: numPage}) }}
        </div>
        <div class="col-sm-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi, assumenda consequatur deleniti deserunt dicta dolore est,
                expedita facilis inventore nihil obcaecati officiis perferendis
                placeat porro provident quia quo repellendus, voluptas?</p>
            {% if numPage==1 %}
                {{ render(path('app_list')) }}
                {{ render(controller('App\\Controller\\HomeController::listArticles')) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
